#table {
    overflow: hidden;
    background-image: url(../images/backgrounds/442432.jpg);
    background-repeat:no-repeat;
}

.table {
    position: relative;
    height: 100vh;
}

.enemy-cards {
    display: flex;
    margin-bottom: 50px;
}

    .enemy-cards .card-container {
        height: 300px;
        flex: 1;
        margin: 0px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .enemy-cards .card-container .username-h4 {
        }

        .enemy-cards .card-container .enemy-deck {
            width: 80%;
            height: 80%;
            border: 1px solid rgba(0, 0, 0, 0.4);
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.2);
        }

.enemy-deck {
    display: flex;
}

.guardModal {
    width: 50% !important;
    height: 750px !important;
}

.card {
    position: relative;
    height: 250px;
    width: 165px;
    border: 1px solid black;
    border-radius: 12px;
    margin: 50px 20px;
}

.container {
    margin-bottom: 200px;
}

.moved {
    transform: translateY(200%);
}

.my-cards {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.card:nth-child(2) {
    left: -20px;
}

.card:nth-child(3) {
    left: -40px;
}

.card:nth-child(4) {
    left: -60px;
}

.card:nth-child(5) {
    left: -80px;
}

.pile {
    height: 300px;
    width: 60px;
    border: 1px solid;
    position: absolute;
    right: 0;
}

.pile-card {
    background-color: transparent;
    position: relative;
    left: 40px;
}

.shift-card {
    display: block;
    transition: ease-in .5s;
    transform: translate(-500px, 32px);
}

.my-side {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

    .my-side .deck {
        display: flex;
        border: 1px solid;
        height: 250px;
        flex: 1;
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background: rgba(0,0,0,0.2);
        border-radius: 5px;
    }

    .my-side .right {
        flex: 1;
    }

.my-cards {
    width: 60%;
    margin: 0 auto;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: white;
    margin: 60px auto;
    /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 75%;
    width: 20%;
    min-width: 300px;
}

    .modal-content p {
        bottom: 15px;
        position: absolute;
        font-size: 20px;
    }

/* The Close Button */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.card-on-enemydeck {
    pointer-events: none;
    top: -35px;
    height: 200px !important;
    width: 135px !important;
}

.guard-rgba {
    background: rgba(0,0,0,0.6)
}

/* 
CARDS
*/

.guard {
    background-image: url(../images/EditedCards/guard.svg);
    background-size: cover;
}

.priest {
    background-image: url(../images/EditedCards/priest.svg);
    background-size: cover;
}

.baron {
    background-image: url(../images/EditedCards/baron.svg);
    background-size: cover;
}

.handmaid {
    background-image: url(../images/EditedCards/handmaid.svg);
    background-size: cover;
}

.prince {
    background-image: url(../images/OriginalCards/5_Marshall_Lee_en.png);
    background-size: cover;
}

.king {
    background-image: url(../images/EditedCards/king.svg);
    background-size: cover;
}

.countess {
    background-image: url(../images/EditedCards/countess.svg);
    background-size: cover;
}

.princess {
    background-image: url(../images/EditedCards/princess.svg);
    background-size: cover;
}
