.card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px 20px;
}

.username-h4 {
    position: absolute;
    top: 0px
}

.container {
    margin-bottom: 200px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 0 75px;
}

.enemy-cards .card-container {
    height: 250px;
    width: 30%;
    border: 1px solid;
}

.moved {
    transform: translateY(200%);
}

.enemy-cards {
    display: flex;
    margin-bottom: 50px;
}

.card-container {
    margin: 0 75px;
}

.my-cards {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.deck {
    border: 1px solid;
    height: 250px;
    width: 35%;
}