#table {
    background-image: url(images/343672.jpg);
    background-size: cover;
}

.enemy-cards {
    display: flex;
    margin-bottom: 50px;
}

.enemy-cards .card-container {
    height: 300px;
    flex: 1;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enemy-cards .card-container .username-h4 {}

.enemy-cards .card-container .enemy-deck {
    width: 80%;
    height: 80%;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.enemy-deck {
    display: flex;
}

.card {
    position: relative;
    height: 250px;
    width: 150px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px 20px;
}

.container {
    margin-bottom: 200px;
}

.moved {
    transform: translateY(200%);
}

.my-cards {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.card:nth-child(2) {
    left: -20px;
}

.card:nth-child(3) {
    left: -40px;
}

.card:nth-child(4) {
    left: -60px;
}

.card:nth-child(5) {
    left: -80px;
}

.pile {
    height: 300px;
    width: 60px;
    border: 1px solid;
    position: absolute;
    right: 0;
}

.pile-card {
    background-color: transparent;
}

.shift-card {
    display: block;
    transition: ease-in .5s;
    transform: translate(-453px, 32px);
}

.my-side {
    display: flex;
    flex-wrap: nowrap;
}

.my-side .deck {
    display: flex;
    border: 1px solid;
    height: 250px;
    flex: 1;
    height: 300px;
}

.my-side .right {
    flex: 1;
}

.my-cards {
    width: 60%;
    margin: 0 auto;
}