
@{
    ViewData["Title"] = "Lobby";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
@model LobbiesViewModel
    <body>
       

        <h1>
            Lobby#
            <span id="lobbyID">@Model.Lobby.LobbyID</span>
        </h1>
        <div class="">
            <div class="enemy-cards">
                <div class="card-container c2">
                    <h4 class="username-h4">???</h4>
                    <div class="card">2</div>
                    <div class="card">2</div>
                </div>
                <div class="card-container c3">
                    <h4 class="username-h4">???</h4>
                    <div class="card">3</div>
                    <div class="card">3</div>
                </div>

                <div class="card-container c4">
                    <h4 class="username-h4">???</h4>
                    <div class="card">4</div>
                    <div class="card">4</div>
                </div>
            </div>
            <div class="card-container c1 my-cards">
                @*<h4 class="username-h4">@Model.username</h4>*@
                <h4 class="username-h4">myName</h4>
                <div class="card">1</div>
                <div class="card">1</div>
            </div>
        </div>

        <div class="container">
            <h1></h1>
            <ul id="userlist">
            </ul>
        </div>
    </body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/signalr/game.js"></script>