
@{
    ViewData["Title"] = "Lobby";
}

<h1>Lobby</h1>

<script src="~/lib/jquery/dist/jquery.js" ></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/signalr/game.js"></script>