
@{
    ViewData["Title"] = "Lobby";
}
@model LobbiesViewModel
    <body>
        <style>
            .card {
                height: 300px;
                width: 200px;
                border: 1px solid black;
                border-radius: 20px;
                margin: 20px;
            }

            .moved {
                transform: translateY(200%);
            }
        </style>
        <div class="container d-flex">
            <h1>Lobby#
            <span id="lobbyID">@Model.Lobby.LobbyID</span>
            </h1>
            <div id="card1" class="card"></div>
            <div id="card2" class="card"></div>
            <div id="card3" class="card"></div>
            <div id="card4" class="card"></div>
        </div>

        <div class="container">
            <h1 class="">UserList</h1>
            <ul id="userlist">
            </ul>
        </div>
    </body>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/lib/signalr/game.js"></script>