
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/JesusNav.cshtml";
}

    <section id="team">

        <div class="container">
            <div class="text defaultText">
                <h1>Our Team</h1>
                <p>Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus volutpat.</p>
            </div>
            <div class="team">
                <div class="teamMember">
                    <div class="designBox"></div>
                    <div class="memberInfo">

                        <h3>Turqay Umudzade</h3>
                        <span>Full Stack Web Developer</span>


                        <div class="icons">
                            <i class="im im-facebook"></i>
                            <i class="im im-twitter"></i>
                            <i class="im im-linkedin"></i>
                            <i class="im im-github"></i>
                        </div>
                        <p>Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem.</p>
                    </div>
                    <div class="image">
                        <img src="../images/team/1.jpg" alt="">
                    </div>

                </div>

                <div class="teamMember">
                    <div class="designBox"></div>
                    <div class="memberInfo">
                        <h3>Isa Bagirov</h3>
                        <span>Visual Designer</span>


                        <div class="icons">
                            <i class="im im-facebook"></i>
                            <i class="im im-twitter"></i>
                            <i class="im im-linkedin"></i>
                            <i class="im im-github"></i>
                        </div>
                        <p>Aliquam eget convallis nunc, et porta libero. Etiam velit, lobortis ut tristique.</p>
                    </div>
                    <div class="image">
                        <img src="../images/team/2.jpg" alt="">
                    </div>

                </div>

                <div class="teamMember">
                    <div class="designBox"></div>
                    <div class="memberInfo">
                        <h3>Rashad Aliev</h3>
                        <span>Android/IOS Developer</span>


                        <div class="icons">
                            <i class="im im-facebook"></i>
                            <i class="im im-twitter"></i>
                            <i class="im im-linkedin"></i>
                            <i class="im im-github"></i>
                        </div>
                        <p>Proin arcu ligula, malesuada id tincidunt laoreet, facilisis at justo. Sed at lorem.</p>
                    </div>
                    <div class="image">
                        <img src="../images/team/3.jpg" alt="">
                    </div>

                </div>

                <div class="teamMember">
                    <div class="designBox"></div>
                    <div class="memberInfo">
                        <h3>Mehriban</h3>
                        <span>Unit Testing</span>


                        <div class="icons">
                            <i class="im im-facebook"></i>
                            <i class="im im-twitter"></i>
                            <i class="im im-linkedin"></i>
                            <i class="im im-github"></i>
                        </div>
                        <p>Nunc posuere lectus ut aliquet facilisis. Nam varius id magna et convallis.</p>
                    </div>
                    <div class="image">
                        <img src="../images/team/4.jpg" alt="">
                    </div>

                </div>
            </div>

        </div>

    </section>
