
@{
    ViewData["Title"] = "Register";
}
@model RegisterViewModel
<div class="container login">

    <form class="small-container" method="post" asp-action="Register" asp-controller="Account">
        <h3>Register </h3>
        <div class="form-group">
            <label asp-for="Email">Email address</label>
            <input type="email" class="form-control" asp-for="Email"  />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input type="text" class="form-control" asp-for="Username"  />
            <span asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="text" asp-for="Password"  class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        @Html.ValidationMessage("Custom")
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>


